<header class="header-top">
    <div class="header-inner-box bg-gray">
        <div class="container-md">
            <nav class="search-nav navbar navbar-expand-md navbar-dark m-0 py-0">
                <div class="justify-content-md-start mx-auto">
                    <div class="navi-item mx-auto">
                        <h1 class="font-weight-bold"><a href="http://localhost:3000" class="text-reset text-decoration-none"><span class="pr-2">有限会社</span>高野工務店</a></h1>
                    </div>
                </div>
                <div class="collapse navbar-collapse justify-content-md-end">
                    <ul class="navs search-navbar navbar-nav d-none d-md-flex">
                        <li class="nav-item active">
                            TOP
                        </li>
                        <li class="nav-item">
                            <a href="http://localhost:3000/voice" class="text-black">社長の声</a>
                        </li>
                        <li class="nav-item">
                            <a href="http://localhost:3000/flow" class="text-black">お問い合わせ後の流れ</a>
                        </li>
                        <li class="nav-item">
                            <a href="http://localhost:3000/company" class="text-black">会社</a>
                        </li>
                        <li class="nav-item">
                            <a href="http://localhost:3000/contact" class="text-black">お問い合わせ</a>
                        </li>
                    </ul>
                </div>

            </nav>
            <div class="">
                <p class="header-description font-weight-bold">後悔しない家造り</p>
            </div>
        </div>
    </div>
    <div class="header-img-slide">
        <div class="header-img header-img1"><img src="" alt="" class=""></div>
        <div class="header-img header-img2"><img src="" alt="" class=""></div>
        <div class="header-img header-img3"><img src="" alt="" class="">
            <div class="">
                <p class="header-c-name text-white">©︎永井 泰史</p>
            </div>
        </div>
    </div>
</header>

<div class="menu-btn menu-btn1 d-md-none ">
    <i class="fa fa-bars" aria-hidden="true"></i>
</div>
<div class="menu-btn menu-btn2 d-none text-white">
    <i class="fa fa-times" aria-hidden="true"></i>
</div>
<ul class="menu">
    <li class="menu__item">
        <a href="http://localhost:3000/voice" class="text-white"><i class="fas fa-caret-right"></i> 社長の声</a>
    </li>
    <li class="menu__item">
        <a href="http://localhost:3000/flow" class="text-white"><i class="fas fa-caret-right"></i> お問い合わせ後の流れ</a>
    </li>
    <li class="menu__item">
        <a href="http://localhost:3000/company" class="text-white"><i class="fas fa-caret-right"></i> 会社</a>
    </li>
    <li class="menu__item">
        <a href="http://localhost:3000/contact" class="text-white"><i class="fas fa-caret-right"></i> お問い合わせ</a>
    </li>
</ul>

<main>
    <div class="commitment container-md p-0 content-fade fade_off">
        <div class="commitment-title text-center">
            <h2 class="title">こだわり</h2>
            <div class="title-bg-black"></div>
        </div>
        <div class="commitment-box">
            <div class="commitment-inner-box bg-gray row d-flex m-0">
                <div class="commitment-inner-column1 bg-black col-md-4 col-sm-10 p-0 mx-sm-auto">
                    <div class="">
                        <h3 class="text-title text-white text-center">
                            唯一無二のデザイン
                        </h3>
                    </div>
                    <div class="">
                        <p class="text-description text-white mx-auto w-90">
                            グッドデザイン賞を何度も獲得されてる「（株）16アーキテクツ」設計事務所さんのデザイナーズ住宅です。
                        </p>
                    </div>
                </div>
                <div class="commitment-inner-column2 bg-dark col-md-8 col-sm-10 mx-sm-auto">
                    <img class="commitment-img" src="assets/commitment-1.jpg" alt="">
                    <p class="commitment-c-name text-white">©︎永井 泰史</p>
                </div>
            </div>
            <div class="commitment-inner-box bg-gray row d-flex m-0">
                <div class="commitment-inner-column1 bg-black col-md-4 col-sm-10 p-0 mx-sm-auto">
                    <div class="">
                        <h3 class="text-title text-white text-center">
                            高級天然木材
                        </h3>
                    </div>
                    <div class="">
                        <p class="text-description text-white mx-auto w-90">
                            輸入住宅の高級天然木材を使用した体に優しい住宅です。お好みのものを選んでいただけます。
                        </p>
                    </div>
                </div>
                <div class="commitment-inner-column2 bg-dark col-md-8 col-sm-10 mx-sm-auto">
                    <img class="commitment-img" src="assets/commitment-2.jpg" alt="">
                </div>
            </div>
            <div class="commitment-inner-box bg-gray row d-flex m-0">
                <div class="commitment-inner-column1 bg-black col-md-4 col-sm-10 p-0 mx-sm-auto">
                    <div class="">
                        <h3 class="text-title text-white text-center">
                            夢のマイホームづくり
                        </h3>
                    </div>
                    <div class="">
                        <p class="text-description text-white mx-auto w-90">
                            一流デザイナーさんに設計していただくプランや、カウンセリングをしご希望に沿ったブランなど、最高級の天然木材で建てるオーダーメイドのマイホームも可能です。
                        </p>
                    </div>
                </div>
                <div class="commitment-inner-column2 bg-dark col-md-8 col-sm-10 mx-sm-auto">
                    <img class="commitment-img" src="assets/commitment-3.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="business container-md content-fade fade_off">
        <div class="business-title text-center">
            <h2 class="title">事業内容</h2>
            <div class="title-bg-black"></div>
        </div>
        <div class="business-inner-box bg-gray row">
            <div class="business-inner-column mx-auto">
                <div class="">
                    <ol class="my-4">
                        <li class="pb-2">一般木造建築</li>
                        <li class="pb-2">リフォーム業</li>
                        <li class="pb-2">リノベーション業</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="building container-md content-fade fade_off">
        <div class="building-title text-center">
            <h2 class="title">建築物</h2>
            <div class="title-bg-black mb-0"></div>
            <p class="text-description">弊社でお世話になっている「グッドデザイン賞」を何度も獲得されている設計事務所さんの建築物。</p>
        </div>
        <div class="building-inner-box row">
            <div class="building-inner-column col-lg-4 col-md-10 mx-md-auto pr-2">
                <div class="building-inner-img">
                    <img src="assets/ex-1.jpg" alt="" class="building-img">
                    <p class="building-c-name text-white">©︎永井 泰史</p>
                </div>
            </div>
            <div class="building-inner-column col-lg-4 col-md-10 mx-md-auto pr-2">
                <div class="building-inner-img">
                    <img src="assets/ex-2.jpg" alt="" class="building-img">
                    <p class="building-c-name text-white">©︎永井 泰史</p>
                </div>
            </div>
            <div class="building-inner-column col-lg-4 col-md-10 mx-md-auto">
                <div class="building-inner-img">
                    <img src="assets/ex-3.jpg" alt="" class="building-img">
                    <p class="building-c-name text-white">©︎永井 泰史</p>
                </div>
            </div>
        </div>
    </div>

    <div class="contents voice-flow container-md content-fade fade_off">
        <div class="row">
            <div class="voices col-sm-6 col-11 mx-auto pr-sm-2">
                <div class="voice-inner-box voice-flow-inner-box">
                    <div class="voice-box inner-box">
                        <h2 class="text-title text-white text-center pt-5">社長の声</h2>
                        <p class="text-description text-white mx-auto w-75 py-4">建築業界に入り、32年。我が社のこだわりは1番に取り扱う高級天然木材です。人間とは建築業界に入り、32年。我が社のこだわりは1番に取り扱う高級天然木材です。人間とは…</p>
                        <div class="text-center pb-5">
                            <a href="http://localhost:3000/voice" class="more btn btn-outline-light"><i class="fas fa-angle-right"></i> MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flows col-sm-6 col-11 mx-auto pl-sm-2">
                <div class="flow-inner-box voice-flow-inner-box">
                    <div class="flow-box inner-box">
                        <h2 class="text-title text-white text-center pt-5">お問い合わせ後の流れ</h2>
                        <p class="text-description text-white mx-auto w-75 py-4">建築業界に入り、32年。我が社のこだわりは1番に取り扱う高級天然木材です。人間とは建築業界に入り、32年。我が社のこだわりは1番に取り扱う高級天然木材です。人間とは…</p>
                        <div class="text-center pb-5">
                            <a href="http://localhost:3000/flow" class="more btn btn-outline-light"><i class="fas fa-angle-right"></i> MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact contents content-fade fade_off">
        <div class="text-center">
            <a href="http://localhost:3000/contact" class="btn btn-outline-dark"><i class="fas fa-angle-right"></i> お問い合わせ</a>
            <p class="text-description pt-3 pb-5">ご不明な点などがございましたら、お気軽にご連絡ください。<br>無料相談会も承っております。</p>
        </div>
    </div>
    <button class="scroll-top" id="js-button"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>

</main>

<footer class="footer bg-footer">
    <div class="footer-inner-box container">
        <div class="row">
            <div class="footer-column1 col-md-4 col-6 pr-0">
                <div class="footer-detail">
                    <h2 class="footer-title font-weight-bold"><a href="#" class="text-reset text-decoration-none"><span class="pr-2">有限会社</span>高野工務店</a></h2>
                    <div class="footer-description">
                        〒178-0061<br>
                        東京都練馬区大泉学園町1-13-3<br>
                        TEL 090-3819-7101
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-1 p-0"></div>
            <div class="footer-column2 col-md-4 col-5 p-0">
                <ul class="navs">
                    <li class=""><a href="http://localhost:3000/" class="text-black"><i class="fas fa-caret-right"></i> TOP</a></li>
                    <li class=""><a href="http://localhost:3000/voice" class="text-black"><i class="fas fa-caret-right"></i> 社長の声</a></li>
                    <li class=""><a href="http://localhost:3000/flow" class="text-black"><i class="fas fa-caret-right"></i> お問い合わせ後の流れ</a></li>
                    <li class=""><a href="http://localhost:3000/company" class="text-black"><i class="fas fa-caret-right"></i> 会社概要</a></li>
                    <li class=""><a href="http://localhost:3000/contact" class="text-black"><i class="fas fa-caret-right"></i> お問い合わせ</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-black text-center">
        <p class="text-white mb-0">Copyright © takanokomuten Co., Ltd. All rights reserved.</p>
    </div>
</footer>