<header class="header-other header-top bg-gray shadow">
    <div class="header-inner-box">
        <div class="container-md">
            <nav class="search-nav navbar navbar-expand-md navbar-dark m-0 py-0">
                <div class="justify-content-md-start mx-auto">
                    <div class="navi-item mx-auto">
                        <h1 class="font-weight-bold"><a href="http://localhost:3000" class="text-reset text-decoration-none"><span class="pr-2">有限会社</span>高野工務店</a></h1>
                    </div>
                </div>
                <div class="collapse navbar-collapse justify-content-md-end">
                    <ul class="navs search-navbar navbar-nav d-none d-md-flex">
                        <li class="nav-item">
                            <a href="http://localhost:3000" class="text-black">TOP</a>
                        </li>
                        <li class="nav-item active">
                            社長の声
                        </li>
                        <li class="nav-item">
                            <a href="http://localhost:3000/flow" class="text-black">お問い合わせ後の流れ</a>
                        </li>
                        <li class="nav-item">
                            <a href="http://localhost:3000/company" class="text-black">会社</a>
                        </li>
                        <li class="nav-item">
                            <a href="http://localhost:3000/contact" class="text-black">お問い合わせ</a>
                        </li>
                    </ul>
                </div>
                <div class="menu-btn menu-btn1 d-md-none">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
                <div class="menu-btn menu-btn2 d-none text-white">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
                <ul class="menu">
                    <li class="menu__item">
                        <a href="http://localhost:3000" class="text-white"><i class="fas fa-caret-right"></i> TOP</a>
                    </li>
                    <li class="menu__item">
                        <a href="http://localhost:3000/flow" class="text-white"><i class="fas fa-caret-right"></i> お問い合わせ後の流れ</a>
                    </li>
                    <li class="menu__item">
                        <a href="http://localhost:3000/company" class="text-white"><i class="fas fa-caret-right"></i> 会社</a>
                    </li>
                    <li class="menu__item">
                        <a href="http://localhost:3000/contact" class="text-white"><i class="fas fa-caret-right"></i> お問い合わせ</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<main>
    <nav class="breadcrumb-list container-md" aria-label="パンくずリスト">
        <ol class="breadcrumb mb-1 py-1 bg-white">
            <li class="breadcrumb-item"><a href="http://localhost:3000">ホーム</a></li>
            <li class="breadcrumb-item active" aria-current="page">社長の声</li>
        </ol>
    </nav>

    <div class="voice container-md">
        <div class="row">
            <div class="voice-inner-box col-md-8 col-12 px-3 p-md-5">
                <div class="voice-column1">
                    <div class="voice-title text-center">
                        <h2 class="">社長の声</h2>
                        <div class="title-bg-black"></div>
                    </div>
                    <div class="text-description bg-black text-white">
                        <div class="w-90 mx-auto">
                            <p>建築業界に入り、32年。</p>
                            <p>我が社のこだわりは1番に取り扱う天然木材です。
                            人間とは本来昔から、木や石に囲まれて生活していたのが、いつしか化学物質に囲まれた家が多くなり、不健康な生活となってしまいました。
                            また、残念なことに、建てて間もなく崩壊したり、欠陥が生じたりと、思いが強い我が家のはずが、後悔ばかりが残ってしまったというお声を耳にします。
                            弊社においては、しっかりとカウンセリングし、一緒に考えていく「後悔しない家造り」をモットーにしております。</p>
                            <p>また、様々な建築物に携わる中で、世界的にご活躍されてる一流デザイナー設計士さんとご縁を頂き、有名人などの邸宅を共に創り上げた実績がございます。</p>
                            <p> 大切なお客様のお家。自然の天然材木で囲まれたお家で生活する幸福感を味わっていただき、生涯に渡り「健康」でお過ごしいただきたいという強い思いで工務店を営んでおります。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="voice-inner-box col-md-4 col-12 px-3 p-md-0">
                <div class="voice-column2">
                    <div class="voice-img-box">
                        <img src="assets/takano.jpg" alt="" class="voice-img">
                    </div>
                    <div class="text-center">
                        <p class="mt-2 m-0 font-weight-bold">有限会社 高野工務店</p>
                        <p class="font-weight-bold">代表取締役社長 高野敦</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="reviews container-md content-fade fade_off">
        <div class="">
            <div class="reviews-inner-box">
                <div class="reviews-column1 row m-0">
                    <div class="reviews-title text-center col-md-8 col-12 p-0">
                        <h2 class="">口コミ</h2>
                        <div class="title-bg-black"></div>
                    </div>
                    <div class="reviews-box text-description">
                        <div class="review-box row m-0">
                            <div class="reviews-img col-sm-1 col-2">
                                <img src="assets/icon.png" alt="">
                            </div>
                            <div class="reviews-description col-md-11 col-10">
                                <p >美容室を新築していただきました。私どもの希望を丁寧に聞いていただき満足するサロンを造っていただき感謝しております。</p>
                            </div>
                        </div>
                        <div class="review-box row m-0">
                            <div class="reviews-img col-sm-1 col-2">
                                <img src="assets/icon.png" alt="">
                            </div>
                            <div class="reviews-description col-sm-11 col-10">
                                <p>ピアノの仕事をしてるので、防音室も造っていただきました。また、主人のこだわりの趣味の部屋も希望通りに完成しました。細かい注文のも対応していただき大変だったと思います。本乙にありがとうございました。</p>
                            </div>
                        </div>
                        <div class="review-box row m-0">
                            <div class="reviews-img col-sm-1 col-2">
                                <img src="assets/icon.png" alt="">
                            </div>
                            <div class="reviews-description col-sm-11 col-10">
                                <p>新しくエステサロンをオープンすることになり、リフォームをお願いしました。壁の色や部屋の仕切り、カウンターや棚など、全て希望通りに造ってもらいました。しかもとても早く仕上げていただいたので本当に助かりました。</p>
                            </div>
                        </div>
                        <div class="review-box row m-0">
                            <div class="reviews-img col-sm-1 col-2">
                                <img src="assets/icon.png" alt="">
                            </div>
                            <div class="reviews-description col-sm-11 col-10">
                                <p>初めてのマイホームでしたが、土地探しからお願いしました。希望の場所が見つかり、間取りや材木も教えて頂きながら自分たちの希望を聞いてもらったので、住んでみて大満足してます。家具もオーダーで作って頂き取り付けてもらったのが嬉しかったです。ありがとうございました。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact contents content-fade fade_off">
        <div class="text-center">
            <a href="http://localhost:3000/contact" class="btn btn-outline-dark"><i class="fas fa-angle-right"></i> お問い合わせ</a>
            <p class="text-description pt-3 pb-5">ご不明な点などがございましたら、お気軽にご連絡ください。<br>無料相談会も承っております。</p>
        </div>
    </div>
    <button class="scroll-top" id="js-button"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>

</main>

<footer class="footer bg-footer">
    <div class="footer-inner-box container">
        <div class="row">
            <div class="footer-column1 col-md-4 col-6 pr-0">
                <div class="footer-detail">
                    <h2 class="footer-title font-weight-bold"><a href="#" class="text-reset text-decoration-none"><span class="pr-2">有限会社</span>高野工務店</a></h2>
                    <div class="footer-description">
                        〒178-0061<br>
                        東京都練馬区大泉学園町1-13-3<br>
                        TEL 090-3819-7101
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-1 p-0"></div>
            <div class="footer-column2 col-md-4 col-5 p-0">
                <ul class="navs">
                    <li class=""><a href="http://localhost:3000/" class="text-black"><i class="fas fa-caret-right"></i> TOP</a></li>
                    <li class=""><a href="http://localhost:3000/voice" class="text-black"><i class="fas fa-caret-right"></i> 社長の声</a></li>
                    <li class=""><a href="http://localhost:3000/flow" class="text-black"><i class="fas fa-caret-right"></i> お問い合わせ後の流れ</a></li>
                    <li class=""><a href="http://localhost:3000/company" class="text-black"><i class="fas fa-caret-right"></i> 会社概要</a></li>
                    <li class=""><a href="http://localhost:3000/contact" class="text-black"><i class="fas fa-caret-right"></i> お問い合わせ</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-black text-center">
        <p class="text-white mb-0">Copyright © takanokomuten Co., Ltd. All rights reserved.</p>
    </div>
</footer>